.thInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort {
  margin-left: 5px;
}
.th {
  &:nth-child(1) {
    width: 71px;
  }
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    width: 200px;
  }
  &:nth-child(10) {
    width: 122px;
  }
}