.productTh {
  padding: 0;
  th {
    border-top: 0;
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
  td {
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}
.statusCell {
  text-align: center;
}
.editCell {
  width: 122px;
  min-width: 122px;
}
.link {
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}
.td {
  &:nth-child(1) {
    width: 71px;
  }
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    width: 200px;
  }
  &:nth-child(10) {
    width: 122px;
  }
}
.error {
  border-color: red;
}